<% comments = Comment.where(post_id: post.id).order(created_at: :desc) %>

<% comments.each do |comment| %>
  <div class="card mx-auto mb-1" style="width: 35%">
    <div class="card-header d-flex flex-md-row align-items-center justify-content-between py-1">
      <div class="fs-5"><%= comment.user.name %>
        <small class="text-muted fs-6 ms-2"><%= comment.user.email %></small>
      </div>
      <small class="text-muted">
        <div><%= comment.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
      </small>
    </div>
    <div class="card-body">
      <p><%= comment.body %></p>
    </div>
    <% if current_user&.id == comment.user.id %>
      <div class="text-end card-footer py-1"><%= button_to "Удалить", post_comment_path(post, comment),
        data: {turbo_confirm: "Удалить комментарий?"}, method: :delete, class: "btn btn-dark btn-sm" %></div>
    <% end %>
  </div>
<% end %>

