<% if params[:action]=="index" %>
  <h2 class="text-center mt-3">Все посты</h2>
<% else %>
  <h2 class="text-center mt-3">Мои посты</h2>
<% end %>

<!-- не показываем ссылки, если не залогинен -->
<% if current_user %>
  <p class="text-center">
    Показать
    <% if params[:action]=="index" %>
      <%= link_to "только мои посты", only_self_posts_path %>
    <% else %>
      <%= link_to "все посты", posts_path %>
    <% end %>
  </p>
<% end %>

<% if @posts.present? %>
  <p class="text-center"><%= link_to "Создать пост", new_post_path if current_user %></p>
  <nav class="pagination justify-content-center"><%== pagy_bootstrap_nav @pagy %></nav>

  <% @posts.each do |post| %>
    <div class="card mx-auto mb-1" style="width: 50%">
      <div class="card-header d-flex flex-md-row align-items-center justify-content-between py-1">
        <div class="fs-5"><%= link_to "#{post.title}", post_path(post), class: "text-dark text-underline-hover" %></div>
        <small class="text-muted">
          <div><%= post.created_at.strftime("%d.%m.%Y в %H:%M") %></div>
        </small>
      </div>
      <div class="card-body">
        <p><%= truncate (post.content), length: 150 %></p>
      </div>
    </div>
  <% end %>

  <nav class="pagination justify-content-center mt-3"><%== pagy_bootstrap_nav @pagy %></nav>
<% else %>
  <p class="text-center">Постов пока нет</p>
  <p class="text-center"><%= link_to "Вы можете создать первый", new_post_path if current_user %></p>
<% end %>

