<h2 class="text-center mt-3"><%= @post.title %></h2>

<% if @post.image.attached? %>
  <p class="text-center"><%= link_to image_tag(@post.image.variant(resize_to_fit: [500, 500])), @post.image %></p>
<% end %>

<p class="text-center"><%= @post.content %></p>

<!-- не показываем кнопки, если пост не принадлежит юзеру -->
<% if current_user&.id == @post.user.id %>
  <div class="container text-center">
    <div class="d-inline-block">
      <%= button_to "Редактировать пост", edit_post_path(@post), method: :get, class: "btn btn-dark" %>
    </div>
    <div class="d-inline-block">
      <%= button_to "Удалить пост", post_path(@post),
        data: {turbo_confirm: "Удалить пост #{@post.title}"}, method: :delete, class: "btn btn-dark" %>
    </div>
  </div>
<% end %>

<%= render "comments/form", post: @post, comment: @comment if current_user %>

<%= render "comments/comments", post: @post %>

<p class="text-center mt-2"><%= link_to "Назад ко всем постам", posts_path %></p>
